<div class="story">
<h1>My diary</h1>
 
<table>
  <tr>
    <th class="col-xs-3">Title</th>
    <th class="col-xs-6">Text</th>
  </tr>
 
  <% @story.each do |story| %>
    <tr>
      <td class="col-xs-3"><%= story.title %></td>
      <td class="col-xs-6"><%= story.text %></td>
      <td><%= link_to 'Show', story_path(story) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New diary', new_story_path %>
</div>