<p>
	<strong>Image:</strong>
	<%= image_tag @story.photo %>
</p>

<p>
	<strong>Title:</strong>
	<%= @story.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @story.text %>
</p>

<%= link_to 'Back', story_index_path %>


